<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dependencies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Dependencies.Properties.Settings>
            <setting name="Undecorate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PeViewerPath" serializeAs="String">
                <value>peview.exe</value>
            </setting>
            <setting name="TreeBuildBehaviour" serializeAs="String">
                <value>ChildOnly</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier New</value>
            </setting>
        </Dependencies.Properties.Settings>
    </userSettings>
</configuration>
